// Color Palette
$primary-background-color:        white;
$secondary-background-color:      #202226;
$background-color-3:              #F69D02;
$background-color-4:              #EC021D;
$background-color-5:              #F66502;

$primary-font-color:      black;
$secondary-font-color:    white;

$primary-font: 'Montserrat';
$font-weight: bold;
$font-type: monospace;

$title-spacing: 0.06em;
$letter-spacing: 0.1em;
